<%= form_for(@school_class) do |f| %>
  <p>School Class Form</p>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>
  <%= f.label :room_number %>
  <%= f.text_field :room_number %> <br>
  <%= f.submit %>
<% end %>